[alias]
  ################
  a = add
  ap = add -p
  ################
  s = status
  ################
  b = branch
  ################
  bd = branch -d
  bdd = branch -D
  ################
  d = diff
  dc = diff --cached
  #################
  l = log --oneline
  lg = log --oneline --graph --decorate
  lga = log --oneline --graph --decorate --all
  #################
  o = checkout
  om = checkout master
  ob = checkout -b
  ################
  c = commit
  cm = commit -m
  ################
  f = fetch
  fe = fetch -p
  ###############
  pu = push -u origin HEAD
  ################
  bdm = "!f () { git checkout $1; git branch --merged|egrep -v '\\*|develop|main'|xargs git branch -d; git fetch --prune; };f"

[fetch]
	prune = true
[pull]
	rebase = false
[core]
    editor = nvim
